@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/harry-potter');

  body{
    background-image: url('./Images/backgroundMobile.jpg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  .centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn{
    margin: 0;
    position: absolute;
    /* top: 77%;
    left: 39%;
    width: 550px;
    height: 50px; */
    text-transform: uppercase;
    font-family: 'Harry Potter', sans-serif;
    /* font-size: 25px; */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 10px;
    padding-top: 15px;
    background-color: rgb(98, 46, 1);
    color: peru;
    padding-left: 2.5%;
    top:87%;
    left: 18%;
    width: 66%;
    height: 50x;
    font-size: 40px;
  }

  img{
    /* border: solid 10px black; */
    position: relative;
    width: 100%;
    height: 100%;
    left:5%;
  }


@media screen and (min-width: 750px) {
  body{
      background-image: url('./Images/backgroundTablet.jpg');
      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
      font-family: 'Harry Potter', sans-serif;
  }

  .btn{
      margin: 0;
      letter-spacing: 10px;
      padding-top: 10px;
      padding-left: 2.5%;
      top:87%;
      left: 31.5%;
      width: 35%;
      height: 70px;
      font-size: 45px;
      
  }

  .btn:disabled {
    pointer-events: none;
  }

  .btn:hover {
    color: sandybrown;
  }

  .btn:active {
    box-shadow: none;
    transform: translateY(0);
  } 

  img{
    /* border: solid 10px black; */
    position: relative;
    width: 100%;
    height: 120%;
    left:-5%;
  }
}

@media screen and (min-width: 1015px) {

body{
    background-image: url('./Images/Background.jpg');
}

.btn{
  width: 21%;
  height: 50px;
  top: 77%;
  left: 39%;
  font-size: 25px;
}

.img{
  width: 70%;
  height: 90%;
  left:13%;
}

}

/* ****LAPTOP**** */
@media screen and (min-width: 1270px) {

  /* .btn{
    width: 270px;
  } */

  .img{
    width: 85%;
    height: 100%;
    left : 4%;
  }
  
  }

/* @media screen and (min-width: 1350px) {

  .btn{
    width: 21%;
    padding-left: 0%;
  }
} */

  @media screen and (min-width: 1585px) {

    /* .btn{
      width: 345px;
    } */

    .img{
      width: 85%;
      height: 100%;
    }
  }

  @media screen and (min-width: 1665px) {

    .btn{
      width: 352px;
    }
    .img{
      width: 100%;
      height: 100%;
      left : -3%;
    }
  }

  @media screen and (min-width: 1755px) {

    .btn{
      width: 21%;
    }
  }

/* ****DESKTOP 1080p**** */
  @media screen and (min-width: 1905px) {

    /* .btn{
      width: 405px;
    } */

    .img{
      width: 105%;
      height: 105%;
      left:-8%;
    }
  }

  /* ****DESKTOP 2K**** */
  @media screen and (min-width: 2540px) {

    .btn{
      /* width: 540px; */
      padding-left: 2%;
    }

    .img{
      width: 115%;
      height: 115%;
      left : -18%;
      margin-bottom: 5%;
      left:-13%;
    }
  }


